<a href="https://colab.research.google.com/github/alexayvonned/CPEN-21A-PLD-1-1/blob/main/Introduction_to_Phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Indentation

In [2]:
if 5>3:
  print("5 is greater than 3")   #This is a comment

5 is greater than 3

Variable Declaration

In [13]:
#variable with a single value
x=5
y=3
if x<y:
  print("x is greater than y")
else:
  print("y is greater than x")

#variable with multiple values

a,b = 1,2
print("The value of a is", a)
print("The value of b is", b)

#multiple variables with a single value

p = q = r = 'Mam'
print(p)
print(q)
print(r)

y is greater than x
The value of a is 1
The value of b is 2
Mam
Mam
Mam

Output  Variable

In [15]:
o = 'is enjoying'
print("Python programming"+" "+ o)   #append is enjoying

Python programming is enjoying

#Casting and Type() function

In [8]:
f = int(4)   #integer
g=float(4)   #decimal/fractional

print(f)
print(g)

print(type(f))
print(type(g))

4
4.0
<class 'int'>
<class 'float'>

Double quote or single quote

In [9]:
name = "Alexa"
name1 = 'Yvonne'

print(name)
print(name1)

Alexa
Yvonne

Case Sensitive

In [11]:
a = 'Gab'
print(a)

Gab