<a href="https://colab.research.google.com/github/alexayvonned/CPEN-21A-PLD-1-1/blob/main/Python_as_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Function Calls

In [3]:
abs(-10.6)

10.6

###Function Calls other function

In [4]:
pow(abs(-2), round(10.6))     #pow(2,11)

2048

###Type code function

In [8]:
print(int(10.6))
print(float(10))

10
10.0

###Defining own function

In [22]:
def convert_to_celsius(kelvin):
  celsius = kelvin-273.15
  return celsius

kelvin = float(input("Enter a temperature in kelvin:"))

k=convert_to_celsius(kelvin)
print(k)

Enter a temperature in kelvin:298.15
25.0

###Exercises

In [26]:
print(min(2,3,4))
print(max(2, -3, 4, 7, -5))
print(max(2, -3), min(4, 7), -5)

2
7
2 4 -5